name: Go

on:
  schedule:
    - cron: "0 */1 * * *"
    - cron: "0 0 * * *"
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}

jobs:
  commit:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' || github.event_name == 'push' }}
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ^1.17
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-
      - run: go get -v -t -d ./...

      - run: go test -race -coverprofile=coverage.out -covermode=atomic -v ./...
      - uses: codecov/codecov-action@v2
        with:
          files: coverage.out

      - run: go run ./cmd/cpr -d -t ${{ secrets.REPO_PAT }}
      - run: go run ./cmd/tir -d -t ${{ secrets.REPO_PAT }}
      - run: go run ./cmd/ovm -d -t ${{ secrets.REPO_PAT }}

  run:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ^1.17
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-
      - run: go get -v -t -d ./...

      - run: go run ./cmd/cpr -t ${{ secrets.REPO_PAT }}

      - if: ${{ github.event_name == 'workflow_dispatch' || github.event.schedule == '0 0 * * *' }}
        run: go run ./cmd/tir -t ${{ secrets.REPO_PAT }}

      - if: ${{ github.event_name == 'workflow_dispatch' || github.event.schedule == '0 0 * * *' }}
        run: go run ./cmd/ovm -t ${{ secrets.REPO_PAT }}

  golangci:
    if: ${{ github.event_name == 'pull_request' || github.event_name == 'push' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: golangci/golangci-lint-action@v2

        
  staticcheck:
    if: ${{ github.event_name == 'pull_request' || github.event_name == 'push' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dominikh/staticcheck-action@v1.1.0
