name: Go

on:
  schedule:
    - cron: "0 */1 * * *"
    - cron: "0 0 * * *"
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}

jobs:
  commit:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ^1.17
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-
      - run: go get -v -t -d ./...

      - run: go test -race -coverprofile=coverage.out -covermode=atomic -v ./...
      - uses: codecov/codecov-action@v3
        with:
          files: coverage.out

      - run: go run ./cmd/cpr -d -t ${{ github.token }}
      - run: go run ./cmd/tir -d -t ${{ github.token }}
      - run: go run ./cmd/ovm -d -t ${{ github.token }}

  run:
    runs-on: ubuntu-latest
    if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
    steps:
      - id: check
        continue-on-error: true
        uses: prince-chrismc/check-actor-permissions-action@v2
        with:
          github_token: ${{ github.token }}
          permission: write

      - uses: actions/setup-go@v3
        with:
          go-version: ^1.17
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-
      - run: go get -v -t -d ./...

      - if: steps.check.outputs.permitted == 'true'
        run: go run ./cmd/cpr --pem ${{ secrets.APP_PEM }}
      - if: steps.check.outputs.permitted == 'false'
        run: go run ./cmd/cpr -t ${{ github.token }}

      - if: ${{ github.event_name == 'workflow_dispatch' || github.event.schedule == '0 0 * * *' }}
        run: go run ./cmd/tir -t ${{ github.token }}

      - if: ${{ github.event_name == 'workflow_dispatch' || github.event.schedule == '0 0 * * *' }}
        run: go run ./cmd/ovm -t ${{ github.token }}

  golangci:
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: golangci/golangci-lint-action@v3

        
  staticcheck:
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dominikh/staticcheck-action@v1.2.0
